<%= content_for :page_title, "Projects" %>

<section class="section">
  <div class="container">
    <article class="message is-medium is-primary">
      <div class="message-header">
        <p>Japan Info Jobs</p>
      </div>
      <div class="message-body">
        <p>Japan Info Jobs is a job listings site for foreigners looking for jobs in Japan. Made through the company
          <a target="_blank" href="https://jpninfo.com">Japan Info</a>.
        </p><br>
        <p>
          Check out the application <a target="_blank" href="">here</a>!
        </p>
      </div>
    </article>
  </div>
</section>